.classpath
.project
.settings
bin
gen
/proguard
local.properties
magic-card-search.iml
build/
gradle/
gradlew
import-summary.txt
app/app.iml
browser-app/browser-app.iml
commons/commons.iml
.gradle
.idea
app/.keyPassword
app/.storePassword
browser-app/src/main/res/raw/
