<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.gstraymond"
    android:versionCode="12"
    android:versionName="1.1.8" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="fr.gstraymond.android.CustomApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- MAIN : Splash screen -->
        <activity
            android:name="fr.gstraymond.android.SplashScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Card list -->
        <activity
            android:name="fr.gstraymond.android.CardListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fr.gstraymond.android.tablet.CardListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <!-- Card detail -->
        <activity
            android:name="fr.gstraymond.android.CardDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="fr.gstraymond.android.CardListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CardListActivity" />
        </activity>
        <activity
            android:name="fr.gstraymond.android.tablet.CardDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="fr.gstraymond.android.CardListActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CardListActivity" />
        </activity>

        <!-- Card detail -->
        <activity
            android:name="fr.gstraymond.android.CardPagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="fr.gstraymond.android.CardDetailActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CardDetailActivity" />
        </activity>
        <activity
            android:name="fr.gstraymond.android.tablet.CardPagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName="fr.gstraymond.android.CardDetailActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CardDetailActivity" />
        </activity>

        <!-- Help -->
        <activity
            android:name="fr.gstraymond.android.HelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/list_menu_help"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="fr.gstraymond.android.tablet.HelpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/list_menu_help"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>