<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.gstraymond">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".android.CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup">
        <!-- MAIN : Splash screen -->
        <activity
            android:name=".android.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- FIXME: parse json from query
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mtg-search.com"
                    android:scheme="http" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Card list -->
        <activity
            android:name=".android.CardListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <!-- Card detail -->
        <activity
            android:name=".android.CardDetailActivity"
            android:parentActivityName=".android.CardListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>

        <!-- Card detail pager -->
        <activity
            android:name=".android.CardPagerActivity"
            android:parentActivityName=".android.CardDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardDetailActivity" />
        </activity>

        <!-- History -->
        <activity
            android:name=".android.HistoryActivity"
            android:label="@string/list_menu_history"
            android:parentActivityName=".android.CardListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>
        <activity
            android:name=".android.WishListActivity"
            android:parentActivityName=".android.CardListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>
        <activity
            android:name=".android.DecksActivity"
            android:parentActivityName=".android.CardListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>

        <!-- Decks -->
        <activity
            android:name=".android.DeckImporterActivity"
            android:parentActivityName=".android.DecksActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>
        <activity
            android:name=".android.DeckPasteActivity"
            android:parentActivityName=".android.DecksActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.DecksActivity" />
        </activity>
        <activity
            android:name=".android.DeckImportProgressActivity"
            android:parentActivityName=".android.DeckImporterActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.DeckImporterActivity" />
        </activity>
        <activity
            android:name=".android.DeckDetailActivity"
            android:parentActivityName=".android.DecksActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.DecksActivity" />
        </activity>
        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity"
            android:parentActivityName=".android.DeckDetailActivity"
            android:theme="@style/AppThemeDirChooser">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.DeckDetailActivity" />
        </activity>
        <activity
            android:name=".ocr.OcrCaptureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.RulesActivity"
            android:parentActivityName=".android.CardListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardListActivity" />
        </activity>

        <activity
            android:name=".android.CardDeckActivity"
            android:parentActivityName=".android.CardDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".android.CardDetailActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f5b7e9047975b71a4f542065a3016e1fbcab379f" />
    </application>

</manifest>